.app-container {
  width: 75%;
  margin: 0 auto;
}

.app-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-heading button {
  height: min-content;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  width: 50%;
}

.loading-container {
  font-size: 30px;
  text-align: center;
}
